.outlet {
    position: absolute;
    top: 120px;
    left: 80px;
    width: calc(100% - 80px);
    padding: 0px 20px;
    /* overflow: hidden; */
}

@media screen and (max-width: 800px) {
    .outlet {
        margin: auto;
        margin-top: 20px;
        width: 90vw;
        padding: 0px 0px;
        position: unset;
    }
}