.create_pop_up_container {
    background: #fff;
    min-width: 60%;
    width: 6%;
    min-height: 81%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 40px 90px;
    align-items: center;
    position: relative;

    & form {
        display: flex;
        flex-direction: column;
    }
    .close_btn{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
    }
}