.sidebar {
    background-color: #EBE4E4;
    color: #000;
    height: 100dvh;
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.3s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 130px 0px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    & p {
        width: 90%;
        display: flex;
        justify-content: center;
        padding: 0px 0px;
        align-items: center;
        border-radius: 10px;
        text-align: center;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
            color: #fff;
            background: #000;
        }
    }
}

.top_navbar {
    position: fixed;
    font-weight: 700;
    top: 0;
    left: 80px;
    width: calc(100% - 80px);
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 50;

    .menu {
        display: flex;
        gap: 20px;
    }

    .profile_details {
        display: flex;
        gap: 20px;
        align-items: center;


        & div {
            background: black;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
}