.sidebar {
    background-color: #EBE4E4;
    color: #000;
    height: 100dvh;
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.3s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 130px 0px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    & p {
        width: 80%;
        display: flex;
        font-size: 25px;
        justify-content: center;
        padding: 0px 0px;
        align-items: center;
        border-radius: 10px;
        text-align: center;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            color: #fff;
            background: #000;
        }

        & i {
            display: flex;
            height: 50px;
            align-items: center;
        }
    }
}

.top_navbar {
    position: fixed;
    font-weight: 700;
    top: 0;
    left: 80px;
    width: calc(100% - 80px);
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 50;

    /* .menu_btn {
        left: 20px;
        top: 20px;
        position: fixed;
        height: 25px;
        display: none;
        justify-content: space-evenly;
        align-items: center;
        cursor: pointer;
        z-index: 110;
        flex-direction: column;
    }

    .menu_btn .lines {
        width: 25px;
        height: 4px;
        background-color: #456ff6;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: all 0.3s ease-in-out;
    } */

    .menu {
        display: flex;
        gap: 20px;
    }

    .profile_details {
        display: flex;
        gap: 20px;
        align-items: center;


        & div {
            background: black;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
}


@media screen and (max-width: 800px) {
    .sidebar {
        display: none;
    }

    .top_navbar {
        left: 0;
        width: 100vw;
    }

    .top_navbar_mobile {
        margin: auto;
        margin-top: 90px;
        display: flex;
        width: 90vw;

        .menu {
            display: flex;
            gap: 20px;

            & p {
                padding: 6px 10px;
                background-color: #EBE4E4;
                border-radius: 5px;
                min-width: 100px;
                text-align: center;
            }
        }
    }
}